@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  background: black;
}

/* Customize the scrollbar track*/
::-webkit-scrollbar-track {
  background: black;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36); 
}

/* Customize the scrollbar thumb on hover*/
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}