@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
  overscroll-behavior-x: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: none;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Customize the track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(79, 79, 79);
  border-radius: 10px;

}

/* Customize the scrollbar thumb on hover*/
::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 127, 127);
}

:root {
  --toggle-width: 50px;
  --toggle-height: calc(var(--toggle-width)/2);
}