@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow: overlay;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Customize the scrollbar track*/
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36); 
  border-radius: 5px;
}

/* Customize the scrollbar thumb on hover*/
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

:root {
  --toggle-width: 50px;
  --toggle-height: calc(var(--toggle-width)/2);
}